
.pro-add {
  background-color: #767272;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem; */
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  text-decoration: none;
  padding-left: 108px;
  /* padding-bottom: 10px; */
}

.pro-add h4 {
  text-decoration: none;
}

.product-list{
    margin-top: 100px;
}
